<!-- templates/home.html -->
{% extends 'base.html' %}

{% block title %}humbly{% endblock %}
{% block content %}
<h1>humbly</h1>
<h2>Request Management</h2>
{% if user.is_authenticated %}
    <br>       
        Hello {{ user.username }}! Would you like to create or view a request?
    <br>
    <br>
    <p>    
        <a href="{% url 'create' %}" class="button">Create a Request</a>
    </p>
    <p>
        <a href="{% url 'view' %}" class="button">View Requests</a>    
    </p>
    <br>
    <p><a href="{% url 'logout' %}">Log Out</a></p>
{% else %}
    <p>You are not logged in</p>
    <a href="{% url 'login' %}">Log In</a>
{% endif %}
{% endblock %}